html,
body {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.gameArea {
  display: grid;
  width: 320px;
  height: 320px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  border: 1px solid red;
}

.box1,
.box4,
.box7 {
  border-left: none;
}

.box1,
.box2,
.box3 {
  border-top: none;
}

.box3,
.box6,
.box9 {
  border-right: none;
}

.box7,
.box8,
.box9 {
  border-bottom: none;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
